In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop('EIN', axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
app_cat = application_df.nunique()
app_cat

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at NAME value counts for binning
name_type=application_df.value_counts('NAME')
name_type

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
FUSION ARTS UNLIMITED INC                             1
FURRST AND FURRMOST POOCH SANCTUARY INC               1
FURNISHING HOPE AZ INC                                1
FUNNY RIVER EMERGENCY SERVICES                        1
ZURICH PUBLISHING FOUNDATION INC                      1
Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of name to be replaced
# use the variable name `name_types_to_replace`
name_types_to_replace = list(name_type[name_type<5].index)

# Replace in dataframe
for name in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.value_counts('APPLICATION_TYPE')
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type<100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_type = application_df.value_counts('CLASSIFICATION')
classification_type

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = classification_type[classification_type>1]
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_type[classification_type<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                35840

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 38,301
Trainable params: 38,301
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.4766 - accuracy: 0.7787 - val_loss: 0.4447 - val_accuracy: 0.7808
Epoch 2/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4306 - accuracy: 0.7948 - val_loss: 0.4405 - val_accuracy: 0.7836
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4258 - accuracy: 0.7973 - val_loss: 0.4429 - val_accuracy: 0.7865
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7983 - val_loss: 0.4430 - val_accuracy: 0.7860
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4210 - accuracy: 0.7989 - val_loss: 0.4406 - val_accuracy: 0.7836
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7993 - val_loss: 0.4438 - val_accuracy: 0.7885
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.8011 - val_loss: 0.4446 - val_accuracy: 0.7878
Epoch 8/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4171 - accuracy: 0.8018 - val_loss: 0.4429 - val_accuracy: 0.7860
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.8021 - val_loss: 0.4458 - val_accuracy: 0.7885
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.8030 - val_loss: 0.4505 - val_accuracy: 0.7847
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4150 - accuracy: 0.8031 - val_loss: 0.4444 - val_accuracy: 0.7873
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.8038 - val_loss: 0.4504 - val_accuracy: 0.7867
Epoch 13/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.8038 - val_loss: 0.4443 - val_accuracy: 0.7891
Epoch 14/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4132 - accuracy: 0.8043 - val_loss: 0.4463 - val_accuracy: 0.7854
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8051 - val_loss: 0.4447 - val_accuracy: 0.7862
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4122 - accuracy: 0.8058 - val_loss: 0.4457 - val_accuracy: 0.7862
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4114 - accuracy: 0.8057 - val_loss: 0.4472 - val_accuracy: 0.7849
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8060 - val_loss: 0.4516 - val_accuracy: 0.7857
Epoch 19/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4106 - accuracy: 0.8057 - val_loss: 0.4468 - val_accuracy: 0.7875
Epoch 20/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4105 - accuracy: 0.8055 - val_loss: 0.4461 - val_accuracy: 0.7862
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8068 - val_loss: 0.4530 - val_accuracy: 0.7844
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4091 - accuracy: 0.8073 - val_loss: 0.4485 - val_accuracy: 0.7813
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4091 - accuracy: 0.8073 - val_loss: 0.4508 - val_accuracy: 0.7828
Epoch 24/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8074 - val_loss: 0.4494 - val_accuracy: 0.7844
Epoch 25/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4083 - accuracy: 0.8074 - val_loss: 0.4500 - val_accuracy: 0.7878
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4079 - accuracy: 0.8084 - val_loss: 0.4505 - val_accuracy: 0.7849
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4076 - accuracy: 0.8076 - val_loss: 0.4524 - val_accuracy: 0.7873
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8075 - val_loss: 0.4593 - val_accuracy: 0.7844
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8083 - val_loss: 0.4539 - val_accuracy: 0.7854
Epoch 30/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4063 - accuracy: 0.8083 - val_loss: 0.4563 - val_accuracy: 0.7847
Epoch 31/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4063 - accuracy: 0.8082 - val_loss: 0.4522 - val_accuracy: 0.7878
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8090 - val_loss: 0.4546 - val_accuracy: 0.7852
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8095 - val_loss: 0.4540 - val_accuracy: 0.7865
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8096 - val_loss: 0.4543 - val_accuracy: 0.7857
Epoch 35/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4052 - accuracy: 0.8097 - val_loss: 0.4565 - val_accuracy: 0.7852
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8088 - val_loss: 0.4521 - val_accuracy: 0.7815
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4047 - accuracy: 0.8096 - val_loss: 0.4575 - val_accuracy: 0.7828
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8096 - val_loss: 0.4574 - val_accuracy: 0.7826
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8096 - val_loss: 0.4595 - val_accuracy: 0.7815
Epoch 40/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4043 - accuracy: 0.8091 - val_loss: 0.4572 - val_accuracy: 0.7805
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4039 - accuracy: 0.8106 - val_loss: 0.4559 - val_accuracy: 0.7844
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8104 - val_loss: 0.4589 - val_accuracy: 0.7826
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8097 - val_loss: 0.4566 - val_accuracy: 0.7841
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8101 - val_loss: 0.4561 - val_accuracy: 0.7839
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4027 - accuracy: 0.8106 - val_loss: 0.4570 - val_accuracy: 0.7854
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4025 - accuracy: 0.8104 - val_loss: 0.4550 - val_accuracy: 0.7860
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8108 - val_loss: 0.4620 - val_accuracy: 0.7800
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8093 - val_loss: 0.4578 - val_accuracy: 0.7841
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8108 - val_loss: 0.4572 - val_accuracy: 0.7815
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8103 - val_loss: 0.4600 - val_accuracy: 0.7857
Epoch 51/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4016 - accuracy: 0.8107 - val_loss: 0.4601 - val_accuracy: 0.7854
Epoch 52/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4019 - accuracy: 0.8121 - val_loss: 0.4592 - val_accuracy: 0.7828
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8114 - val_loss: 0.4629 - val_accuracy: 0.7836
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8101 - val_loss: 0.4615 - val_accuracy: 0.7834
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8116 - val_loss: 0.4625 - val_accuracy: 0.7852
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8109 - val_loss: 0.4599 - val_accuracy: 0.7854
Epoch 57/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4013 - accuracy: 0.8110 - val_loss: 0.4650 - val_accuracy: 0.7860
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8111 - val_loss: 0.4611 - val_accuracy: 0.7849
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8121 - val_loss: 0.4616 - val_accuracy: 0.7880
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4006 - accuracy: 0.8119 - val_loss: 0.4606 - val_accuracy: 0.7875
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4002 - accuracy: 0.8121 - val_loss: 0.4668 - val_accuracy: 0.7852
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4006 - accuracy: 0.8116 - val_loss: 0.4632 - val_accuracy: 0.7836
Epoch 63/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4002 - accuracy: 0.8112 - val_loss: 0.4666 - val_accuracy: 0.7826
Epoch 64/100
684/684 [==============================] - 2s 4ms/step - loss: 0.3997 - accuracy: 0.8122 - val_loss: 0.4652 - val_accuracy: 0.7847
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3998 - accuracy: 0.8110 - val_loss: 0.4673 - val_accuracy: 0.7841
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3998 - accuracy: 0.8126 - val_loss: 0.4654 - val_accuracy: 0.7860
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3995 - accuracy: 0.8122 - val_loss: 0.4678 - val_accuracy: 0.7844
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3996 - accuracy: 0.8121 - val_loss: 0.4642 - val_accuracy: 0.7860
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3992 - accuracy: 0.8124 - val_loss: 0.4668 - val_accuracy: 0.7844
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8124 - val_loss: 0.4632 - val_accuracy: 0.7844
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3994 - accuracy: 0.8118 - val_loss: 0.4666 - val_accuracy: 0.7847
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8123 - val_loss: 0.4616 - val_accuracy: 0.7847
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3987 - accuracy: 0.8125 - val_loss: 0.4671 - val_accuracy: 0.7847
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3994 - accuracy: 0.8116 - val_loss: 0.4649 - val_accuracy: 0.7839
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3986 - accuracy: 0.8134 - val_loss: 0.4659 - val_accuracy: 0.7844
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3987 - accuracy: 0.8128 - val_loss: 0.4607 - val_accuracy: 0.7867
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3982 - accuracy: 0.8122 - val_loss: 0.4684 - val_accuracy: 0.7839
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8123 - val_loss: 0.4726 - val_accuracy: 0.7828
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3986 - accuracy: 0.8125 - val_loss: 0.4648 - val_accuracy: 0.7852
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8130 - val_loss: 0.4652 - val_accuracy: 0.7844
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8132 - val_loss: 0.4719 - val_accuracy: 0.7844
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8124 - val_loss: 0.4668 - val_accuracy: 0.7847
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8124 - val_loss: 0.4690 - val_accuracy: 0.7844
Epoch 84/100
684/684 [==============================] - 2s 4ms/step - loss: 0.3977 - accuracy: 0.8136 - val_loss: 0.4689 - val_accuracy: 0.7823
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3978 - accuracy: 0.8129 - val_loss: 0.4728 - val_accuracy: 0.7873
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8127 - val_loss: 0.4676 - val_accuracy: 0.7847
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8127 - val_loss: 0.4732 - val_accuracy: 0.7828
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3977 - accuracy: 0.8130 - val_loss: 0.4659 - val_accuracy: 0.7860
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3976 - accuracy: 0.8130 - val_loss: 0.4711 - val_accuracy: 0.7847
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3978 - accuracy: 0.8129 - val_loss: 0.4722 - val_accuracy: 0.7865
Epoch 91/100
684/684 [==============================] - 2s 4ms/step - loss: 0.3975 - accuracy: 0.8129 - val_loss: 0.4652 - val_accuracy: 0.7854
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3971 - accuracy: 0.8137 - val_loss: 0.4737 - val_accuracy: 0.7823
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3973 - accuracy: 0.8127 - val_loss: 0.4726 - val_accuracy: 0.7870
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3968 - accuracy: 0.8134 - val_loss: 0.4764 - val_accuracy: 0.7860
Epoch 95/100
684/684 [==============================] - 2s 4ms/step - loss: 0.3970 - accuracy: 0.8138 - val_loss: 0.4690 - val_accuracy: 0.7831
Epoch 96/100
684/684 [==============================] - 3s 4ms/step - loss: 0.3972 - accuracy: 0.8130 - val_loss: 0.4765 - val_accuracy: 0.7849
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3969 - accuracy: 0.8137 - val_loss: 0.4749 - val_accuracy: 0.7860
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3964 - accuracy: 0.8129 - val_loss: 0.4755 - val_accuracy: 0.7836
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3965 - accuracy: 0.8128 - val_loss: 0.4696 - val_accuracy: 0.7852
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.3969 - accuracy: 0.8131 - val_loss: 0.4663 - val_accuracy: 0.7844

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4534 - accuracy: 0.7934 - 418ms/epoch - 2ms/step
Loss: 0.45344966650009155, Accuracy: 0.7933527827262878

In [20]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity_Optimization.h5')
files.download('AlphabetSoupCharity_Optimization.h5')