## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
app_cat = application_df.nunique()
app_cat

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.value_counts('APPLICATION_TYPE')
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type<5].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type = application_df.value_counts('CLASSIFICATION')
classification_type

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = classification_type[classification_type>1]
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_type[classification_type<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3840

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,301
Trainable params: 6,301
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5716 - accuracy: 0.7223 - val_loss: 0.5738 - val_accuracy: 0.7217
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7315 - val_loss: 0.5670 - val_accuracy: 0.7225
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7324 - val_loss: 0.5644 - val_accuracy: 0.7225
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7331 - val_loss: 0.5656 - val_accuracy: 0.7227
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7341 - val_loss: 0.5638 - val_accuracy: 0.7191
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7346 - val_loss: 0.5641 - val_accuracy: 0.7217
Epoch 7/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7343 - val_loss: 0.5610 - val_accuracy: 0.7225
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7350 - val_loss: 0.5625 - val_accuracy: 0.7212
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7350 - val_loss: 0.5650 - val_accuracy: 0.7186
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7351 - val_loss: 0.5607 - val_accuracy: 0.7175
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7374 - val_loss: 0.5633 - val_accuracy: 0.7227
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7374 - val_loss: 0.5625 - val_accuracy: 0.7199
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7371 - val_loss: 0.5638 - val_accuracy: 0.7214
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7378 - val_loss: 0.5631 - val_accuracy: 0.7191
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7380 - val_loss: 0.5610 - val_accuracy: 0.7183
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7378 - val_loss: 0.5619 - val_accuracy: 0.7196
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7377 - val_loss: 0.5623 - val_accuracy: 0.7207
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7387 - val_loss: 0.5602 - val_accuracy: 0.7225
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7386 - val_loss: 0.5627 - val_accuracy: 0.7227
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7381 - val_loss: 0.5588 - val_accuracy: 0.7201
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7385 - val_loss: 0.5615 - val_accuracy: 0.7201
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7371 - val_loss: 0.5606 - val_accuracy: 0.7230
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7385 - val_loss: 0.5626 - val_accuracy: 0.7207
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7393 - val_loss: 0.5589 - val_accuracy: 0.7201
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7394 - val_loss: 0.5571 - val_accuracy: 0.7235
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7390 - val_loss: 0.5609 - val_accuracy: 0.7201
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7397 - val_loss: 0.5615 - val_accuracy: 0.7207
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7384 - val_loss: 0.5621 - val_accuracy: 0.7238
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7378 - val_loss: 0.5595 - val_accuracy: 0.7248
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7393 - val_loss: 0.5616 - val_accuracy: 0.7230
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7397 - val_loss: 0.5608 - val_accuracy: 0.7199
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7391 - val_loss: 0.5604 - val_accuracy: 0.7217
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7389 - val_loss: 0.5562 - val_accuracy: 0.7240
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7407 - val_loss: 0.5571 - val_accuracy: 0.7209
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7394 - val_loss: 0.5640 - val_accuracy: 0.7214
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7402 - val_loss: 0.5602 - val_accuracy: 0.7225
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7406 - val_loss: 0.5589 - val_accuracy: 0.7207
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7405 - val_loss: 0.5596 - val_accuracy: 0.7225
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7392 - val_loss: 0.5621 - val_accuracy: 0.7178
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7411 - val_loss: 0.5592 - val_accuracy: 0.7204
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7398 - val_loss: 0.5647 - val_accuracy: 0.7207
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7416 - val_loss: 0.5605 - val_accuracy: 0.7194
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7404 - val_loss: 0.5618 - val_accuracy: 0.7225
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7400 - val_loss: 0.5607 - val_accuracy: 0.7199
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7410 - val_loss: 0.5598 - val_accuracy: 0.7222
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7407 - val_loss: 0.5602 - val_accuracy: 0.7214
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7407 - val_loss: 0.5588 - val_accuracy: 0.7264
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7410 - val_loss: 0.5597 - val_accuracy: 0.7232
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7414 - val_loss: 0.5626 - val_accuracy: 0.7209
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7416 - val_loss: 0.5603 - val_accuracy: 0.7194
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7426 - val_loss: 0.5629 - val_accuracy: 0.7232
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7409 - val_loss: 0.5583 - val_accuracy: 0.7219
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7416 - val_loss: 0.5622 - val_accuracy: 0.7194
Epoch 54/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7409 - val_loss: 0.5589 - val_accuracy: 0.7191
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7416 - val_loss: 0.5617 - val_accuracy: 0.7186
Epoch 56/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7416 - val_loss: 0.5640 - val_accuracy: 0.7222
Epoch 57/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7423 - val_loss: 0.5609 - val_accuracy: 0.7217
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7408 - val_loss: 0.5627 - val_accuracy: 0.7235
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7416 - val_loss: 0.5632 - val_accuracy: 0.7209
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7426 - val_loss: 0.5584 - val_accuracy: 0.7212
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7416 - val_loss: 0.5584 - val_accuracy: 0.7227
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7422 - val_loss: 0.5615 - val_accuracy: 0.7219
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7415 - val_loss: 0.5635 - val_accuracy: 0.7235
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7431 - val_loss: 0.5611 - val_accuracy: 0.7222
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7422 - val_loss: 0.5639 - val_accuracy: 0.7209
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7422 - val_loss: 0.5593 - val_accuracy: 0.7253
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7415 - val_loss: 0.5599 - val_accuracy: 0.7194
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7423 - val_loss: 0.5589 - val_accuracy: 0.7240
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7428 - val_loss: 0.5623 - val_accuracy: 0.7196
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7413 - val_loss: 0.5614 - val_accuracy: 0.7217
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7415 - val_loss: 0.5605 - val_accuracy: 0.7222
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7420 - val_loss: 0.5644 - val_accuracy: 0.7227
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7430 - val_loss: 0.5650 - val_accuracy: 0.7170
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7421 - val_loss: 0.5619 - val_accuracy: 0.7217
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7423 - val_loss: 0.5646 - val_accuracy: 0.7219
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7417 - val_loss: 0.5625 - val_accuracy: 0.7230
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7430 - val_loss: 0.5633 - val_accuracy: 0.7201
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7427 - val_loss: 0.5631 - val_accuracy: 0.7251
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7419 - val_loss: 0.5617 - val_accuracy: 0.7243
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7426 - val_loss: 0.5638 - val_accuracy: 0.7219
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7428 - val_loss: 0.5631 - val_accuracy: 0.7217
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7413 - val_loss: 0.5628 - val_accuracy: 0.7214
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7423 - val_loss: 0.5620 - val_accuracy: 0.7217
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7429 - val_loss: 0.5652 - val_accuracy: 0.7219
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7421 - val_loss: 0.5635 - val_accuracy: 0.7222
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7429 - val_loss: 0.5635 - val_accuracy: 0.7219
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7431 - val_loss: 0.5689 - val_accuracy: 0.7214
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7426 - val_loss: 0.5638 - val_accuracy: 0.7191
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7426 - val_loss: 0.5618 - val_accuracy: 0.7191
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7433 - val_loss: 0.5670 - val_accuracy: 0.7225
Epoch 91/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5346 - accuracy: 0.7434 - val_loss: 0.5627 - val_accuracy: 0.7204
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7428 - val_loss: 0.5622 - val_accuracy: 0.7196
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7428 - val_loss: 0.5641 - val_accuracy: 0.7230
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7439 - val_loss: 0.5620 - val_accuracy: 0.7188
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7421 - val_loss: 0.5694 - val_accuracy: 0.7230
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7433 - val_loss: 0.5620 - val_accuracy: 0.7204
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7430 - val_loss: 0.5653 - val_accuracy: 0.7209
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7432 - val_loss: 0.5626 - val_accuracy: 0.7256
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7428 - val_loss: 0.5634 - val_accuracy: 0.7219
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7431 - val_loss: 0.5635 - val_accuracy: 0.7222

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5552 - accuracy: 0.7258 - 347ms/epoch - 1ms/step
Loss: 0.5551946759223938, Accuracy: 0.7258309125900269

In [16]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity.h5')
files.download('AlphabetSoupCharity.h5')